body {
  padding: 20px;
  min-width: 600px;
  min-height: 300px;
}



.list-body {
    display: -webkit-box;
    display: -webkit-flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    cursor: move
}

.column
{
    float: left;
    width: auto;

}

.column-button
{
    float: left;
    width: auto;
		padding-left: 20px;
}