<!DOCTYPE HTML>
<!--  Notes

change all tags to relavent  

-->

<html ng-app="my-extension">
  <head>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    
      <header>
         <!--<h1 class="listHead">Now Playing</h1> -->
      </header> 
		<div id="main_wrapper" ng-controller="ListController">
			
			<div id="now-playing" class="drop-target list-body" ui-sortable="sortableOptions" ng-model="nowplaying" >
				<div class="list-item" ng-repeat="item in nowplaying">
					{{item.title}}
				</div>
				<div class="list-item" ng-show="isEmpty()">
					Place link here!
				</div>
				
      </div>
			
				<!--		<ul id="now-playing" class="drop-target list-body" ui-sortable="sortableOptions" ng-model="nowplaying" >
				<li class="list-item" ng-repeat="item in nowplaying">
					<div>{{item.title}}</div>
				</li>
				<li class="list-item" ng-show="isEmpty()">
					<div>Place link here!</div>
				</li>
				
      </ul> -->


			<hr>
			<!--<div class="form-group"></div> -->
    	
      	<ul id="links" class="drop-target list-body" ui-sortable="sortableOptions" ng-model="items">
					<li class="list-item" ng-repeat="item in items">
							<div>{{item.title}}</div>
					</li>
      	</ul>
			
      <div class="form-group"></div>
    
  
			<div ui-sortable="sortableOptions" class="drop-target">
			<div class="column">
				<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="add link here">
			</div>
			<div class="column-button">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus"></span>
				</button> 
			</div>
			<div class="column-button">
				<button type="submit" ng-click="addCurrentTab()" class="btn btn-primary">Add current tab</button> 
			</div>
			<div class="column-button">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-trash"></span>
				</button> 
			</div>
		</div>
		</div>
		
	</body>
    
    <script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.js"></script> 
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/ui-sortable/sortable.js"></script>
	 
		
    

    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    
    
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/list.controller.js"></script>

    <script src="scripts/directives/main.directive.js"></script>
  
</html>